{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TAJ group of online event management</title>
    <link rel="stylesheet" href={% static 'css/components.css' %}>
    <link rel="stylesheet" href={% static 'css/icons.css' %}>
    <link rel="stylesheet" href={% static 'css/responsee.css' %}>
    <link rel="stylesheet" href={% static 'owl-carousel/owl.carousel.css' %}>
    <link rel="stylesheet" href={% static 'owl-carousel/owl.theme.css' %}>
    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href={% static 'css/template-style.css' %}>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>    
    <script type="text/javascript" src="js/validation.js"></script> 
  </head>  
  
  <body class="size-1140">
  	<!-- PREMIUM FEATURES BUTTON -->
  	<a target="_blank" class="hide-s" href="../template/prospera-premium-responsive-business-template/" style="position:fixed;top:120px;right:-14px;z-index:10;"><img src={% static '/premium-features.png' %} alt=""></a>
    <!-- HEADER -->
    <header role="banner">    
      <!-- Top Bar -->
      <div class="top-bar background-white">
        <div class="line">
          <div class="s-12 m-6 l-6">
            <div class="top-bar-contact">
              <p class="text-size-12">Contact Us: 9496127052 |tajevents@gmail.com</a></p>
            </div>
          </div>
         
        </div>
      </div>
      
      <!-- Top Navigation -->
      <nav class="background-white background-primary-hightlight">
        <div class="line">
          <div class="s-12 l-2">
            <a href="index.html" class="logo"><img src={% static '/logo-free.png' %} alt=""></a>
          </div>
          <div class="top-nav s-12 l-10">
            <p class="nav-text"></p>
            <ul class="right chevron">
              <li><a href={% url 'index' %}>Home</a></li>
              <li><a href={% url 'abt' %}>About</a></li>
              <li><a href="#">Events</a>
                <ul>
                     <li><a href={% url 'wed' %}>Wedding</a>
                      <li><a href={% url 'photo' %}>photography</a></li>
                      <li><a href={% url 'video' %}>videography</a></li> 
                      <li><a href={% url 'decor' %}>Decoration</a></li>
                </ul>
              </li>
              
              <li><a href={% url 'book_event' %}>Booking</a></li>
              <li><a href={% url 'contact' %}>Contact</a></li>
              <li><a href={% url 'logout' %}>Logout</a></li>
              
            </ul>

          </div>
        </div>
      </nav>
    </header>
    
    <!-- MAIN -->
    <main role="main">
      <!-- Content -->
      <article>
        <header class="section background-primary text-center">
            <h1 class="text-white margin-bottom-0 text-size-50 text-thin text-line-height-1">About Us</h1>
        </header>
        <div class="section background-white"> 
          <div class="line">
            <h2 class="text-size-30">TAJ group of event management</h2>
            <p>
           Life is all about happenings... better known as events. Imagine life without a single event occurring. Big or small, events are essential to one's living. 


          Most people are part of events that happen. Many are responsible for making events possible. We, at TAJ Events, believe in making events happen, in a manner that etches a beautiful mark in the memory of the one who purposes to have an event as well as participates in the same.
            </p>
            <p class="margin-bottom-30">
            Events are of various kinds. It could be wedding, birthday party, reception and many more. The visualisation and the conceptualization of any event is as important as the execution of it. We take great pleasure in creating the platform for an event to happen and recreate such moments into magical and memorable ones.
            </p>
            <div class="line">
              <div class="margin">
                <div class="s-12 m-12 l-6 margin-m-bottom-30">
                  <h2>speciality</h2>
                  <p>
                  We undertake to add flavor, beauty, extravaganza and mesmerizing touches to the events that are integral to your lives… so find us doing all types of events like conferences, ceremonies, formal and informal parties, concerts, conventions and many more.
                  </p>
                </div>
                <div class="s-12 m-12 l-6">
                  <h2>why choose TAJ ?</h2>
                  <p>
                 We provide a unique and innovative approach to create events that compliment your corporate culture and meeting goals. Creativity, design and execution is what we do.
                  </p>
                </div>
              </div>  
            </div>
          </div>
        </div> 
      </article>
    </main>
    
    <!--FOOTER -->
    <footer>
      <!-- Main Footer -->
      <section class="section background-dark">
        <div class="line">
          <div class="margin">
            <!-- Collumn 1 -->
            <div class="s-12 m-12 l-4 margin-m-bottom-2x">
              <h4 class="text-uppercase text-strong">Our Philosophy</h4>
              <p class="text-size-20">Extend TAJ Events into new markets while advancing and extending our field of administration. To look after development, the coordinated effort and the exertion of all the members of the team alongwith the support of our clients.<p>
                            
             
            </div>
            
            <!-- Collumn 2 -->
            <div class="s-12 m-12 l-4 margin-m-bottom-2x">
              <h4 class="text-uppercase text-strong">Contact Us</h4>
              <div class="line">
                <div class="s-1 m-1 l-1 text-center">
                  <i class="icon-placepin text-primary text-size-12"></i>
                </div>
                <div class="s-11 m-11 l-11 margin-bottom-10">
                  <p><b>Adress:</b>iritty, kannur, Kerala</p>
                </div>
              </div>
              <div class="line">
                <div class="s-1 m-1 l-1 text-center">
                  <i class="icon-mail text-primary text-size-12"></i>
                </div>
                <div class="s-11 m-11 l-11 margin-bottom-10">
                  <p><b>E-mail:</b> tajevents@gmail.com</p>
                </div>
              </div>
              <div class="line">
                <div class="s-1 m-1 l-1 text-center">
                  <i class="icon-smartphone text-primary text-size-12"></i>
                </div>
                <div class="s-11 m-11 l-11 margin-bottom-10">
                  <p><b>Phone:</b> 9496127052</p>
                </div>
              </div>
              <div class="line">
                <div class="s-1 m-1 l-1 text-center">
                  <i class="icon-twitter text-primary text-size-12"></i>
                </div>
                <div class="s-11 m-11 l-11 margin-bottom-10">
                  <p><b>Twitter</b></p>
                </div>
              </div>
              <div class="line">
                <div class="s-1 m-1 l-1 text-center">
                  <i class="icon-facebook text-primary text-size-12"></i>
                </div>
                <div class="s-11 m-11 l-11">
                  <p><b>Facebook</b></p>
                </div>
              </div>
            </div>
            
            <!-- Collumn 3 -->
            
      </section>
      <hr class="break margin-top-bottom-0" style="border-color: rgba(0, 38, 51, 0.80);">
      
   
    </footer>
    <script type="text/javascript" src="js/responsee.js"></script>
    <script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="js/template-scripts.js"></script>
     
   </body>
</html>